body { background: #e2531f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 39px; display: flex; }
.block-filter-0 { color: #4e66ae; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #35ef72; font-size: 20px; margin-bottom: 5px; }
.block-auth-2 { color: #b7a692; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #99788e; font-size: 18px; margin-bottom: 5px; }
.block-product-4 { color: #e608d5; font-size: 19px; margin-bottom: 5px; }
.block-product-5 { color: #181f59; font-size: 18px; margin-bottom: 5px; }
.block-uploader-6 { color: #16946c; font-size: 18px; margin-bottom: 5px; }
.block-invoice-7 { color: #a10074; font-size: 12px; margin-bottom: 5px; }
.block-sms-8 { color: #f3d363; font-size: 14px; margin-bottom: 5px; }
.block-logger-9 { color: #79f920; font-size: 17px; margin-bottom: 5px; }